<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>ClientServer</servlet-name>
    <display-name>ClientServer</display-name>
    <servlet-class>com.idega.block.messenger.servlet.ClientServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ClientServer</servlet-name>
    <url-pattern>/servlet/ClientServer</url-pattern>
  </servlet-mapping>
  
</web-app>