<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  <servlet>
    <servlet-name>ClientServer</servlet-name>
    <display-name>ClientServer</display-name>
    <servlet-class>com.idega.block.messenger.servlet.ClientServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ClientServer</servlet-name>
    <url-pattern>/servlet/ClientServer</url-pattern>
  </servlet-mapping>
  
</web-app>